@using eStore.Application.Utilities
@model eStore.Domain.Entity.Product


<div class="row">
    <div class="col-xxl-12">
        <div class="card mb-4" style="text-align: left !important;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Add new product</h5>
                <a asp-action="Index" asp-controller="Product" class="btn btn-outline-warning">
                    <i class="bi bi-arrow-left-square"></i>
                </a>
            </div>
            <form asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="Name" class="form-control" placeholder="" />
                                <label asp-for="Name"></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="ShortDescription" class="form-control" placeholder="" />
                                <label asp-for="ShortDescription"></label>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="Price" class="form-control" placeholder="" />
                                <label asp-for="Price"></label>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="LongDescription" class="form-control" placeholder="" />
                                <label asp-for="LongDescription"></label>
                                <span asp-validation-for="LongDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="Brand" class="form-control" placeholder="" />
                                <label asp-for="Brand"></label>
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="Stock" class="form-control" placeholder="" />
                                <label asp-for="Stock"></label>
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="Category" class="form-select">
                                    <option selected disabled>Select category</option>
                                    @foreach (var category in StaticDetails.Products.Categories)
                                    {
                                        <option value="@category.Value">@category.Key</option>
                                    }
                                </select>
                                <label asp-for="Category"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Product Image</label>
                            <input asp-for="ImageURL" type="text" hidden class="form-control" placeholder="" />
                            <input asp-for="Image" type="file" class="form-control" />
                            <span asp-validation-for="ImageURL" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-warning">
                            <i class="bi bi-x-circle me-1"></i> CANCEL
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="bi bi-check-circle me-1"></i> SAVE
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}